<div ng-controller="views.integralmall.record as vm">
    <div class="page-bar">
        <div class="col-xs-9">
            <ul class="page-breadcrumb">
                <li>
                    <i class="fa fa-hand-o-right"></i>
                    <a href="#">积分详情订单</a>
                </li>
            </ul>
        </div>
        <div class="col-xs-3 right">
            <ul class="page-breadcrumb" style="float: right">
                <li>
                    <button class="btn btn-sm blue" ng-click="vm.export()"><i class="fa fa-plus"></i> 导出</button>
                </li>
            </ul>
        </div>

     
    </div>
    <div class="portlet light bordered">
        <div class="row">
            <div class="row">
                <div class="col-xs-3">
                    <div class="form-group form-md-line-input">
                        <label class="col-md-4 control-label">状态</label>
                        <div class="col-md-8">
                            <select ng-model="vm.table.filter.state"
                                    class="form-control edited" ui-validate="'$value>0'"
                                    ng-class="{'edited':vm.model.type>0}" ng-options="m.id as m.name for m in vm.filter.states"></select>
                            <div class="form-control-focus"> </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-3">
                    <div class="form-group form-md-line-input">
                        <label class="col-md-4 control-label">类型</label>
                        <div class="col-md-8">
                            <select ng-model="vm.table.filter.cate" class="form-control edited" ui-validate="'$value>0'"
                                    ng-class="{'edited':vm.model.type>0}" ng-options="m.id as m.name for m in vm.filter.cates"></select>
                            <div class="form-control-focus"> </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-5">
                    <div class="form-group form-md-line-input has-info">
                        <div class="input-group input-group-sm">
                            <div class="input-group-control">
                                <input type="text" class="form-control input-sm" placeholder="按条件搜索" ng-model="vm.table.filter.name">
                            </div>
                            <span class="input-group-btn btn-right">
                                <button ng-click="vm.init()" class="btn green-haze" type="button">查询</button>
                            </span>
                        </div>
                    </div>
                </div>

            </div>

        </div>
        <div class="row">
            <table st-table="vm.table.data" class="table table-striped">
                <thead>
                    <tr>
                        <th st-sort="a">来源</th>
                        <th>单号</th>
                        <th>购买商品</th>
                        <th>类型</th>
                        <th>数量</th>
                        <th>所需积分</th>
                        <th>奖品类型</th>
                        <th>昵称</th>
                        <th>日期</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                    <tr st-select-row="row" st-select-mode="multiple" ng-repeat="row in vm.table.data">
                        <td>{{row.a}}</td>
                        <td>{{row.b}}</td>
                        <td>{{row.c}}</td>
                        <td>{{row.balance}}</td>
                        <td>{{row.email}}</td>
                        <td>{{row.email}}</td>
                        <td>
                            <a href="#"  ng-click="vm.modify(row)" >
                                收货信息
                            </a>
                            <a href="#"  ng-click="vm.low(row)" >
                                快递单号
                            </a>
                            <a href="#"  ng-click="vm.delete(row)" >
                                发货时间
                            </a>
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="7">
                            <div pagination conf="vm.table.pageConfig"></div>
                        </td>
                    </tr>
                </tfoot>
            </table>


        </div>
    </div>
</div>