<div ng-controller="views.manager.customers.index as vm">
    <div class="page-bar">
        <div class="page-bar">
            <div class="col-xs-8">
                <ul class="page-breadcrumb">
                    <li>
                        <i class="fa fa-hand-o-right"></i>
                        <a href="#">客户管理</a>
                    </li>
                </ul>
            </div>
            <div class="col-xs-4 right">
                <ul class="page-breadcrumb" style="float: right">
                    <li>
                        <button class="btn btn-sm blue" ng-click="vm.add()"><i class="fa fa-plus"></i> 添加</button>
                        <button class="btn btn-sm blue" ng-click="vm.export()"><i class="fa fa-plus"></i> 导出</button>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="portlet light bordered">
        <div class="row">
            <div class="col-xs-5">
                <div class="form-group form-md-line-input">
                    <label class="col-md-3 control-label">手机:</label>
                    <div class="col-md-9 input-group input-group-sm">
                        <div class="input-group-control">
                            <input type="text" class="form-control input-sm" placeholder="手机" ng-model="vm.filter.mobile">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-5">
                <div class="form-group form-md-line-input">
                    <label class="col-md-3 control-label">地区:</label>
                    <div class="col-md-9 input-group input-group-sm">
                        <div class="input-group-control">
                            <input type="text" class="form-control input-sm" placeholder="地区" ng-model="vm.filter.area">
                        </div>
                        <span class="input-group-btn btn-right">
                            <button ng-click="vm.init()" class="btn green-haze" type="button">查询</button>
                        </span>
                    </div>
                </div>
            </div>
         
        </div>
        <div class="row">
            <table st-table="vm.table.data" class="table table-striped">
                <thead>
                    <tr>
                        <th st-sort="a">用户昵称</th>
                        <th>手机号</th>
                        <th>性别</th>
                        <th>生日</th>
                        <th>所在城市</th>
                        <th>积分</th>
                        <th>成就</th>
                        <th>纪念章</th>
                        <th>登陆密码</th>
                        <th>称号</th>
                        <!--<th>操作</th>-->
                    </tr>
                </thead>
                <tbody>
                    <tr st-select-row="row" st-select-mode="multiple" ng-repeat="row in vm.table.data">
                        <td>{{row.user_name}}</td>
                        <td>{{row.nick_name}}</td>
                        <td>*********</td>
                        <td>{{row.status==1?'启用':'禁用'}}</td>
                        <td>{{row.create_time}}</td>
                        <td>{{row.create_time}}</td>
                        <td>{{row.create_time}}</td>
                        <td>{{row.create_time}}</td>
                        <td>{{row.create_time}}</td>
                        <td>{{row.create_time}}</td>
                        <!--<td>
                            <a href="#" ng-click="vm.edit(row)">
                                修改
                            </a>
                            <a href="#" ng-click="vm.allow(row)">
                                分配角色
                            </a>
                            <a href="#" ng-click="vm.delete(row)">
                                删除
                            </a>
                        </td>-->
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="7">
                            <div pagination conf="vm.table.pageConfig"></div>
                        </td>
                    </tr>
                </tfoot>
            </table>


        </div>
    </div>
</div>