<div ng-controller="views.achievement.trace.index as vm">
    <div class="page-bar">
        <div class="col-xs-9">
            <ul class="page-breadcrumb">

                <li>
                    <i class="fa fa-hand-o-right"></i>
                    <a href="#">游迹成就管理</a>
                </li>
            </ul>
        </div>
        <div class="col-xs-3 right">
            <ul class="page-breadcrumb" style="float: right">
                <li>
                    <button class="btn btn-sm blue" ng-click="vm.add()"><i class="fa fa-plus"></i> 添加</button>
                </li>
                <li>
                    <button class="btn btn-sm blue" ng-click="vm.export()"><i class="fa fa-plus"></i> 导出</button>
                </li>
            </ul>
        </div>


    </div>
    <div class="portlet light bordered">
        <div class="row">
            <div class="col-xs-8">
                <div class="form-group form-md-line-input">
                    <label class="col-md-2 control-label">选择系列</label>
                    <div class="col-md-4">
                        <select ng-model="vm.table.filter.a"
                                class="form-control edited" ui-validate="'$value>0'" ng-change="vm.cate.change(1)"
                                ng-class="{'edited':vm.table.filter.a>0}" ng-options="m.id as m.name for m in vm.cate.a"></select>
                        <div class="form-control-focus"> </div>
                    </div>
                    <div class="col-md-3">
                        <select ng-model="vm.table.filter.b"
                                class="form-control edited" ui-validate="'$value>0'" ng-change="vm.cate.change(2)"
                                ng-class="{'edited':vm.table.filter.b>0}" ng-options="m.id as m.name for m in vm.cate.b"></select>
                        <div class="form-control-focus"> </div>
                    </div>
                    <div class="col-md-3">
                        <select ng-model="vm.table.filter.c"
                                class="form-control edited" ui-validate="'$value>0'"
                                ng-class="{'edited':vm.table.filter.c>0}" ng-options="m.id as m.name for m in vm.cate.c"></select>
                        <div class="form-control-focus"> </div>
                    </div>
                </div>
            </div>
       
            <div class="col-xs-4">
                <div class="form-group form-md-line-input has-info">
                    <div class="input-group input-group-sm">
                        <div class="input-group-control">
                            <input type="text" class="form-control input-sm" placeholder="按条件搜索" ng-model="vm.table.filter.name">
                        </div>
                        <span class="input-group-btn btn-right">
                            <button ng-click="vm.init()" class="btn green-haze" type="button">查询</button>
                        </span>
                    </div>
                </div>
            </div>

        </div>
        <div class="row">
            <table st-table="vm.table.rows" class="table table-striped">
                <thead>
                    <tr>
                        <th st-sort="a">成就名称</th>
                        <th>一级分类</th>
                        <th>二级分类</th>
                        <th>三级分类</th>
                        <th>积分</th>
                        <th>纪念章数量</th>
                        <th>成就值</th>
                        <th>称号</th>
                        <th>状态</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                    <tr st-select-row="row" st-select-mode="multiple" ng-repeat="row in vm.table.rows">
                        <td>{{row.name}}</td>
                        <td>{{row.category1}}</td>
                        <td>{{row.category2}}</td>
                        <td>{{row.category3}}</td>
                        <td>{{row.integration}}</td>
                        <td>{{row.relation_count}}</td>
                        <td>{{row.achievement_val}}</td>
                        <td>{{row.designation}}</td>
                        <td>{{row.status==0?'未发布':'已发布'}}</td>
                        <td>
                            <a href="#"  ng-click="vm.edit(row)">
                                修改
                            </a>
                            <a href="#" ng-if="row.status==0" ng-click="vm.public(row)">
                                发布
                            </a>
                            <a href="#" ng-if="row.status==0" ng-click="vm.delete(row)">
                                删除
                            </a>
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="7">
                            <div pagination conf="vm.table.pageConfig"></div>
                        </td>
                    </tr>
                </tfoot>
            </table>


        </div>
    </div>
</div>