<div>
    <form name="modalform" role="form" novalidate class="form-validation">
        <div class="modal-header">
            <h4 class="modal-title">
                <span ng-if="!vm.post.id">添加邮费信息</span>
                <span ng-if="vm.post.id">编辑 {{vm.post.province}} </span>
            </h4>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="form-group form-md-line-input">
                    <label class="col-md-3 control-label">省份名称:</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control" ng-class="{'edited':vm.post.province}" placeholder="请输入省份名称" maxlength="120"
                               required ng-model="vm.post.province">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group form-md-line-input">
                    <label class="col-md-3 control-label">价格:</label>
                    <div class="col-md-9">
                        <input type="number" class="form-control" ng-class="{'edited':vm.post.price}" placeholder="请输入价格" maxlength="120"
                               required ng-model="vm.post.price">
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button ng-disabled="vm.saving" type="button" class="btn btn-sm default" ng-click="vm.cancel()">关闭</button>
            <button type="submit" button-busy="vm.saving" class="btn btn-sm blue" busy-text="保存"
                    ng-click="vm.save()"
                    ng-disabled="modalform.$invalid">
                <span>保存</span>
            </button>
        </div>
    </form>
</div>
