<div ng-controller="views.onlinemall.figure.index as vm">
    <div class="page-bar">
        <div class="page-bar">
            <div class="col-xs-8">
                <ul class="page-breadcrumb">
                    <li>
                        <i class="fa fa-hand-o-right"></i>
                        <a href="#">商品管理</a>
                    </li>
                </ul>
            </div>
            <div class="col-xs-4 right">
                <ul class="page-breadcrumb" style="float: right">
                    <li>
                        <button class="btn btn-primary blue" ng-click="vm.add()"><i class="fa fa-plus"></i> 添加</button>
                    </li>

                </ul>
            </div>
        </div>
    </div>
    <div class="portlet light bordered">
        <div class="row">
            <div class="col-xs-6">
                <div class="form-group form-md-line-input">
                    <label class="col-md-4 control-label">状态</label>
                    <div class="col-md-8">
                        <select ng-model="vm.table.filter.state" class="form-control edited" ui-validate="'$value>0'"
                                ng-class="{'edited':vm.model.type>0}" ng-options="m.id as m.name for m in vm.states"></select>
                        <div class="form-control-focus"> </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-6">
                <div class="input-icon right">
                    <i ng-click="vm.init()" class="fa fa-search"></i>
                    <input type="text" class="form-control input-circle" placeholder="按条件搜索" ng-model="vm.table.filter.name">
                </div>
            </div>

        </div>
        <div class="row">
            <table st-table="vm.table.data" class="table table-striped">
                <thead>
                    <tr>
                        <th st-sort="a">产品名称</th>
                        <th>创建时间</th>
                        <th>创建人</th>
                        <th>权重</th>
                        <th>状态</th>
                        <th>链接</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                    <tr st-select-row="row" st-select-mode="multiple" ng-repeat="row in vm.table.data">
                        <td>{{row.a}}</td>
                        <td>{{row.b}}</td>
                        <td>{{row.c}}</td>
                        <td>{{row.balance}}</td>
                        <td>{{row.email}}</td>
                        <td>{{row.email}}</td>
                        <td>
                            <a href="#"  ng-click="vm.modify(row)" >
                                修改
                            </a>
                            <a href="#"  ng-click="vm.low(row)" >
                                下线
                            </a>
                            <a href="#"  ng-click="vm.delete(row)" >
                                删除
                            </a>
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="7">
                            <div pagination conf="vm.table.pageConfig"></div>
                        </td>
                    </tr>
                </tfoot>
            </table>


        </div>
    </div>
</div>