<div ng-controller="views.integralmall.product.modify as vm">
    <div class="page-bar">
        <div class="col-xs-9">
            <ul class="page-breadcrumb">
                <li>
                    <i class="fa fa-hand-o-right"></i>
                    <a href="#">商品添加</a>
                </li>
            </ul>
        </div>
        <div class="col-xs-3 right">
            <ul class="page-breadcrumb" style="float:right">
                <li>
                    <div class="md-checkbox has-info">
                        <input type="checkbox" id="checkbox16" ng-model="vm.product.is_badge"
                                ng-click="!vm.product.is_badge" class="md-check">
                        <label for="checkbox16">
                            <span></span>
                            <span class="check"></span>
                            <span class="box"></span> 是否纪念章
                        </label>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="portlet light bordered">
        <form name="modalform" role="form" novalidate class="form-validation">
            <div ng-if="vm.product.is_badge" class="row">
                <div class="modal-title">
                    纪念章属性
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-xs-4">
                            <div class="form-group form-md-line-input">
                                <label class="col-md-3 control-label">纪念章名称:</label>
                                <div class="col-md-9">
                                    <input type="text" class="form-control" 
                                           ng-class="{'edited':vm.product.badge_name}" placeholder="纪念章名称" maxlength="120"
                                           required ng-model="vm.product.badge_name">
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-8">
                            <div class="form-group form-md-line-input">
                                <label class="col-md-3 control-label">选择系列</label>
                                <div class="col-md-3">
                                    <select ng-model="vm.product.badge_category1"
                                            class="form-control edited" ui-validate="'$value>0'" ng-change="vm.cate.change(1)"
                                            ng-class="{'edited':vm.product.badge_category1>0}" ng-options="m.id as m.name for m in vm.cate.a"></select>
                                    <div class="form-control-focus"> </div>
                                </div>
                                <div class="col-md-3">
                                    <select ng-model="vm.product.badge_category2"
                                            class="form-control edited" ui-validate="'$value>0'"  ng-change="vm.cate.change(2)"
                                            ng-class="{'edited':vm.product.badge_category2>0}" ng-options="m.id as m.name for m in vm.cate.b"></select>
                                    <div class="form-control-focus"> </div>
                                </div>
                                <div class="col-md-3">
                                    <select ng-model="vm.product.badge_category3"
                                            class="form-control edited" ui-validate="'$value>0'"
                                            ng-class="{'edited':vm.product.badge_category3>0}" ng-options="m.id as m.name for m in vm.cate.c"></select>
                                    <div class="form-control-focus"> </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group form-md-line-input has-success">
                            <label class="col-md-2 control-label">规格</label>
                            <div class="col-md-10">
                                <textarea class="form-control" rows="3" ng-class="{'edited':vm.product.badge_introduce}"
                                          placeholder="规格" ng-model="vm.product.badge_introduce"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-4"></div>
                        <div class="col-xs-4">
                            <div class="tiles">
                                <div class="tile bg-grey" ng-file-select="vm.file.onFileSelect($files,1)"
                                      data-multiple="vm.file.multiple" onclick="this.value = null">
                                    <div class="tile-body">
                                        <i class="fa fa-cloud-upload"></i>
                                    </div>
                                    <div class="tile-object">
                                        <div class="name"> 限制 </div>
                                        <div class="number"> 750*280px</div>
                                    </div>
                                </div>
                           
                            </div>
                        </div>
                        <div class="col-xs-4">
                            <div ng-if="vm.file.model[1].url" class="col-xs-6">
                                <div>
                                    <img ng-click="vm.file.remove(1)" style="width:150px;height:150px;" ng-if="vm.file.model[1].url" src="{{vm.file.model[1].url}}" alt="" />
                                </div>

                            </div>
                        </div>

                    </div>
                </div>
             
            </div>


            <div class="row">
                <div class="modal-title">
                    商品属性
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-xs-4">
                            <div class="form-group form-md-line-input">
                                <label class="col-md-3 control-label">商品名称:</label>
                                <div class="col-md-9">
                                    <input type="text" class="form-control"
                                           ng-class="{'edited':vm.product.name}" placeholder="商品名称" maxlength="120"
                                           required ng-model="vm.product.name">
                                </div>
                            </div>

                        </div>
                        <div class="col-xs-4">
                            <div class="form-group form-md-line-input">
                                <label class="col-md-3 control-label">商品价格:</label>
                                <div class="col-md-9">
                                    <input type="number" ng-pattern="/^([1-9][0-9]*){1,9}$/"  class="form-control"
                                           ng-class="{'edited':vm.product.price}" placeholder="商品价格" 
                                           required ng-model="vm.product.price">
                                </div>
                            </div>

                        </div>
                        <div class="col-xs-4">
                            <div class="form-group form-md-line-input">
                                <label class="col-md-3 control-label">商品库存:</label>
                                <div class="col-md-9">
                                    <input type="number" ng-pattern="/^([1-9][0-9]*){1,9}$/" class="form-control"
                                           ng-class="{'edited':vm.product.inventory}" placeholder="商品库存" maxlength="120"
                                           required ng-model="vm.product.inventory">
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-4">
                            <div class="form-group form-md-line-input">
                                <label class="col-md-3 control-label">上线时间:</label>
                                <div class="col-md-9">
                                    <div class="dropdown dropdown1-parent">
                                        <a class="dropdown-toggle" id="dropdown1" role="button"
                                           data-toggle="dropdown" data-target=".dropdown1-parent"
                                           href="#">
                                            <div class="input-group">
                                                <input type="text" class="form-control" data-ng-model="vm.product.online_time"
                                                       data-date-time-input="YYYY-MM-DD HH:mm">
                                                <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                                            </div>
                                        </a>
                                        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                            <datetimepicker data-ng-model="vm.product.online_time"
                                                            data-datetimepicker-config="{ dropdownSelector: '#dropdown1' }"></datetimepicker>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="col-xs-4">
                            <div class="md-checkbox">
                                <input type="checkbox" id="checkbox17" ng-model="vm.product.is_perfect"
                                       ng-click="!vm.product.is_perfect" class="md-check">
                                <label for="checkbox17">
                                    <span></span>
                                    <span class="check"></span>
                                    <span class="box"></span> 是否精品
                                </label>
                            </div>
                        </div>
                        <div class="col-xs-4">
                            <div class="form-group form-md-radios">
                                <div class="md-radio-inline">
                                    <div class="md-radio">
                                        <input type="radio" id="radio6" name="radio2" class="md-radiobtn" value="1" checked
                                               ng-model="vm.product.type">
                                        <label for="radio6">
                                            <span></span>
                                            <span class="check"></span>
                                            <span class="box"></span> 单一商品
                                        </label>
                                    </div>
                                    <div class="md-radio">
                                        <input type="radio" id="radio7" name="radio2" class="md-radiobtn" value="2"
                                               ng-model="vm.product.type">
                                        <label for="radio7">
                                            <span></span>
                                            <span class="check"></span>
                                            <span class="box"></span> 组合商品
                                        </label>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div ng-if="vm.product.type==2" class="row">
                        <div class="tabbable-line">
                            <ul class="nav nav-tabs">
                                <li style="float: right" class="active">
                                    <a data-toggle="tab" ng-click="vm.choose()" aria-expanded="true">添加商品</a>
                                </li>
                            </ul>
                            <div class="tab-content">
                                <table st-table="vm.products" class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th st-sort="a">产品名称</th>
                                            <th>创建时间</th>
                                            <th>价格</th>
                                            <th>库存</th>
                                            <th>一级分类</th>
                                            <th>二级分类</th>
                                            <th>三级分类</th>
                                            <th>状态</th>
                                            <th>操作</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr st-select-row="row" st-select-mode="multiple" ng-repeat="row in vm.products">
                                            <td>{{row.name}}</td>
                                            <td>{{row.online_time}}</td>
                                            <td>{{row.price}}</td>
                                            <td>{{row.inventory}}</td>
                                            <td>{{row.badge_category1}}</td>
                                            <td>{{row.badge_category2}}</td>
                                            <td>{{row.badge_category3}}</td>
                                            <td>{{row.status==1?'有效':'无效'}}</td>
                                            <td><a href="#" ng-click="vm.remove(row)">X</a></td>
                                        </tr>
                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6">
                            <div class="col-xs-4">大图</div>
                            <div class="col-xs-4">
                                <div class="tiles">
                                    <div class="tile bg-grey" ng-file-select="vm.file.onFileSelect($files,3)" data-multiple="vm.file.multiple" onclick="this.value = null">
                                        <div class="tile-body">
                                            <i class="fa fa-cloud-upload"></i>
                                        </div>
                                        <div class="tile-object">
                                            <div class="name"> 限制 </div>
                                            <div class="number"> 150x150 </div>
                                        </div>
                                    </div>
                                    <!--<ol>
                                        <li ng-repeat="(k,v) in vm.file.selectFiles">
                                            {{v.file.name}} ----- {{v.progress.p}}% <a href="#" ng-click="vm.file.abort(k)">X</a>
                                        </li>
                                    </ol>-->
                                </div>
                            </div>
                            <div class="col-xs-4">
                                <div ng-if="vm.file.model[3].url" class="col-xs-6">
                                    <div>
                                        <img ng-click="vm.file.remove(3)" style="width:150px;height:150px;" ng-if="vm.file.model[3].url" src="{{vm.file.model[3].url}}" alt="" />
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <div class="col-xs-4">小图</div>
                            <div class="col-xs-4">
                                <div class="tiles">
                                    <div class="tile bg-grey" ng-file-select="vm.file.onFileSelect($files,4)" data-multiple="vm.file.multiple" onclick="this.value = null">
                                        <div class="tile-body">
                                            <i class="fa fa-cloud-upload"></i>
                                        </div>
                                        <div class="tile-object">
                                            <div class="name"> 限制 </div>
                                            <div class="number"> 100x100 </div>
                                        </div>
                                    </div>
                                
                                </div>
                            </div>
                            <div class="col-xs-4">
                                <div ng-if="vm.file.model[4].url" class="col-xs-6">
                                    <div>
                                        <img ng-click="vm.file.remove(4)" style="width:100px;height:100px;" ng-if="vm.file.model[4].url" src="{{vm.file.model[4].url}}" alt="" />
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6">
                            <div class="col-xs-4">选择标签</div>
                            <div class="col-xs-4">
                                <div class="tiles">
                                    <div class="tile bg-grey" ng-file-select="vm.file.onFileSelect($files,2)" data-multiple="vm.file.multiple" onclick="this.value = null">
                                        <div class="tile-body">
                                            <i class="fa fa-cloud-upload"></i>
                                        </div>
                                        <div class="tile-object">
                                            <div class="name"> 无限制 </div>
                                            <div class="number"> </div>
                                        </div>
                                    </div>
                                    <!--<ol>
                        <li ng-repeat="(k,v) in vm.file.selectFiles">
                            {{v.file.name}} ----- {{v.progress.p}}% <a href="#" ng-click="vm.file.abort(k)">X</a>
                        </li>
                    </ol>-->
                                </div>
                            </div>
                            <div class="col-xs-4">
                                <div ng-if="vm.file.model[2].url" class="col-xs-6">
                                    <div>
                                        <img ng-click="vm.file.remove(2)" style="width:150px;height:150px;" ng-if="vm.file.model[2].url" src="{{vm.file.model[2].url}}" alt="" />
                                    </div>

                                </div>
                            </div>
                        </div>

                    </div>
                    <ueditor style="height:450px;"  config="editorConfig" ng-model="vm.product.content">
                    </ueditor>
                </div>
            </div>
          
            <div class="modal-footer">
                <button ng-disabled="vm.saving" type="button" class="btn btn-sm default" ng-click="vm.cancel()">关闭</button>
                <button type="submit" button-busy="vm.saving" class="btn btn-sm blue" busy-text="保存"
                        ng-click="vm.save()"
                        ng-disabled="modalform.$invalid">
                    <span>保存</span>
                </button>
            </div>
        </form>
    </div>
</div>











