<div>
    <form name="modalform" role="form" novalidate class="form-validation">
        <div class="modal-header">
            <h4 class="modal-title">
                <span ng-if="!vm.role.id">添加角色</span>
                <span ng-if="vm.role.id">编辑角色: {{vm.role.name}} </span>
            </h4>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-xs-6">
                    <div class="form-group form-md-line-input">
                        <label class="col-md-4 control-label">权限名称</label>
                        <div class="col-md-8">
                            <input type="text" class="form-control" placeholder="角色名称" maxlength="120"
                                   ng-class="{'edited':vm.role.name}" required ng-model="vm.role.name">
                            <div class="form-control-focus"> </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6">
                    <div class="form-group form-md-line-input">
                        <label class="col-md-4 control-label">角色编码</label>
                        <div class="col-md-8">
                            <input type="text" class="form-control" placeholder="角色编码" maxlength="120"
                                   ng-class="{'edited':vm.role.code}" required ng-model="vm.role.code">
                            <div class="form-control-focus"> </div>
                        </div>
                    </div>
                </div>
            </div>
          

        </div>
        <div class="modal-footer">
            <button ng-disabled="vm.saving" type="button" class="btn btn-default" ng-click="vm.cancel()">关闭</button>
            <button type="submit" button-busy="vm.saving" busy-text="保存"
                    class="btn btn-primary blue" ng-click="vm.save()"
                    ng-disabled="modalform.$invalid">
                <span>保存</span>
            </button>
        </div>
    </form>
</div>
