<div ng-controller="views.statistical.overview.index as vm">
    <div class="page-bar">
        <div class="col-xs-8">
            <ul class="page-breadcrumb">
                <li>
                    <i class="fa fa-hand-o-right"></i>
                    <a href="#">概述</a>
                </li>
            </ul>
        </div>
        <div class="col-xs-4 right">
            <ul class="page-breadcrumb" style="float: right">
                <li>
                    <button class="btn btn-sm blue" ng-click="vm.export()"> 导出</button>
                </li>
            </ul>
        </div>
    </div>
    <div class="portlet light bordered">
        <div class="row">
            <div class="col-xs-2">
                <div class="form-group form-md-line-input">
                    <label class="col-md-4 control-label">省</label>
                    <div class="col-md-8">
                        <select ng-model="vm.table.filter.prov"
                                class="form-control edited" ui-validate="'$value>0'" ng-change="vm.address.change()"
                                ng-class="{'edited':vm.table.filter.prov>0}" ng-options="m.id as m.name for m in vm.address.prov"></select>
                        <div class="form-control-focus"> </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-2">
                <div class="form-group form-md-line-input">
                    <label class="col-md-4 control-label">市</label>
                    <div class="col-md-8">
                        <select ng-model="vm.table.filter.city"
                                class="form-control edited" ui-validate="'$value>0'"
                                ng-class="{'edited':vm.table.filter.city>0}" ng-options="m.id as m.name for m in vm.address.city"></select>
                        <div class="form-control-focus"> </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-2">
                <div class="form-group form-md-line-input has-info">
                    <div class="input-group input-group-sm">
                        <div class="input-group-control">
                            <input type="text" class="form-control input-sm" placeholder="商品名称" ng-model="vm.table.filter.name">
                        </div>
                        <span class="input-group-btn btn-right">
                            <button ng-click="vm.init()" class="btn green-haze" type="button">查询</button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-4">
                <button class="btn btn-sm blue" ng-click="vm.time.today()"> 今天</button>
                <button class="btn btn-sm blue" ng-click="vm.time.yesterday()"> 昨天</button>
                <button class="btn btn-sm blue" ng-click="vm.time.less7()"> 最近七天</button>
                <button class="btn btn-sm blue" ng-click="vm.time.less30()"> 最近30天</button>
            </div>
            <div class="col-xs-8">
                <div class="col-xs-6">
                    <div class="form-group form-md-line-input">
                        <label class="col-md-3 control-label">开始时间:</label>
                        <div class="col-md-9">
                            <div class="dropdown dropdown1-parent">
                                <a class="dropdown-toggle" id="dropdown1" role="button"
                                   data-toggle="dropdown" data-target=".dropdown1-parent"
                                   href="#">
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-ng-model="vm.table.filter.start"
                                               data-date-time-input="YYYY-MM-DD HH:mm">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                                    </div>
                                </a>
                                <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                    <datetimepicker data-ng-model="vm.table.filter.start"
                                                    data-datetimepicker-config="{ dropdownSelector: '#dropdown1' }"></datetimepicker>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6">
                    <div class="form-group form-md-line-input">
                        <label class="col-md-3 control-label">截至时间:</label>
                        <div class="col-md-9">
                            <div class="dropdown dropdown2-parent">
                                <a class="dropdown-toggle" id="dropdown2" role="button"
                                   data-toggle="dropdown" data-target=".dropdown2-parent"
                                   href="#">
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-ng-model="vm.table.filter.end"
                                               data-date-time-input="YYYY-MM-DD HH:mm">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                                    </div>
                                </a>
                                <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                    <datetimepicker data-ng-model="vm.table.filter.end"
                                                    data-datetimepicker-config="{ dropdownSelector: '#dropdown2' }"></datetimepicker>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>



            </div>

        </div>
        <div class="row">
            <table st-table="vm.table.rows" class="table table-striped">
                <thead>
                    <tr>
                        <th st-sort="a">销售数量</th>
                        <th>销售额</th>
                        <th>运费</th>
                        <th>购买人次</th>
                        <th>省</th>
                        <th>市</th>
                     
                    </tr>
                </thead>
                <tbody>
                    <tr st-select-row="row" st-select-mode="multiple" ng-repeat="row in vm.table.rows">
                        <td>{{row.saleCount}}</td>
                        <td>{{row.salePrice }}</td>
                        <td>{{row.courier_cost}}</td>
                        <td>1</td>
                        <td>{{row.city_name}}</td>
                        <td>{{row.city_name}}</td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="7">
                            <div pagination conf="vm.table.pageConfig"></div>
                        </td>
                    </tr>
                </tfoot>
            </table>

        </div>
    </div>
</div>