<div ng-controller="views.achievement.medal.modify as vm">
    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <i class="fa fa-hand-o-right"></i>
                <a ng-if="!vm.achi.id" href="#">添加成就</a>
                <a ng-if="vm.achi.id" href="#">编辑成就: {{vm.achi.name}}</a>
            </li>
        </ul>
    </div>
    <div class="portlet light bordered">
        <form name="modalform" role="form" novalidate class="form-validation">
            <div class="modal-body">
                <div class="row">
                    <div class="col-xs-4">
                        <div class="form-group form-md-line-input">
                            <label class="col-md-4 control-label">成就名称</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control" ng-class="{'edited':vm.achi.name}" placeholder="成就名称"
                                       required ng-model="vm.achi.name">
                                <div class="form-control-focus"> </div>
                            </div>
                        </div>

                    </div>
                    <div class="col-xs-4">
                        <div class="form-group form-md-line-input">
                            <label class="col-md-4 control-label">系列名称</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control" ng-class="{'edited':vm.achi.category_name}" placeholder="系列名称"
                                       required ng-model="vm.achi.category_name">
                                <div class="form-control-focus"> </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-4">
                        <div class="form-group form-md-line-input">
                            <label class="col-md-4 control-label">达成条件</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control" ng-class="{'edited':vm.achi.finish}" placeholder="达成条件"
                                       required ng-model="vm.achi.finish">
                                <div class="form-control-focus"> </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-4">
                        <div class="form-group form-md-line-input">
                            <label class="col-md-4 control-label">积分</label>
                            <div class="col-md-8">
                                <input type="number" class="form-control" ng-class="{'edited':vm.achi.integration}" placeholder="积分"
                                       required ng-model="vm.achi.integration">
                                <div class="form-control-focus"> </div>
                            </div>
                        </div>

                    </div>
                    <div class="col-xs-4">
                        <div class="form-group form-md-line-input">
                            <label class="col-md-4 control-label">成就值</label>
                            <div class="col-md-8">
                                <input type="number" class="form-control" ng-class="{'edited':vm.achi.achievement_val}" placeholder="成就值"
                                       required ng-model="vm.achi.achievement_val">
                                <div class="form-control-focus"> </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-4">
                        <div class="form-group form-md-line-input">
                            <label class="col-md-4 control-label">称号</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control" ng-class="{'edited':vm.achi.designation}" placeholder="称号"
                                       required ng-model="vm.achi.designation">
                                <div class="form-control-focus"> </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-4">
                        <div class="form-group form-md-line-input">
                            <label class="col-md-4 control-label">系列</label>
                            <div class="col-md-8">
                                <select ng-model="vm.achi.category1"
                                        class="form-control edited" ui-validate="'$value>0'" ng-change="vm.cate.change(1)"
                                        ng-class="{'edited':vm.achi.category1>0}" ng-options="m.id as m.name for m in vm.cate.a"></select>
                                <div class="form-control-focus"> </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-xs-4">
                        <div class="form-group form-md-line-input">
                            <div class="col-md-12">
                                <select ng-model="vm.achi.category2"
                                        class="form-control edited" ui-validate="'$value>0'" ng-change="vm.cate.change(2)"
                                        ng-class="{'edited':vm.achi.category2>0}" ng-options="m.id as m.name for m in vm.cate.b"></select>
                                <div class="form-control-focus"> </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-xs-4">
                        <div class="form-group form-md-line-input">
                            <div class="col-md-12">
                                <select ng-model="vm.achi.category3"
                                        class="form-control edited" ui-validate="'$value>0'"
                                        ng-class="{'edited':vm.achi.category3>0}" ng-options="m.id as m.name for m in vm.cate.c"></select>
                                <div class="form-control-focus"> </div>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-4">
                        <div class="form-group form-md-line-input">
                            <label class="col-md-6 control-label">商城购买按钮</label>
                            <div class="col-md-6">
                                <div ng-file-select="vm.file.onFileSelect($files,1)"
                                     data-multiple="vm.file.multiple" title="选择图片"
                                     onclick="this.value = null"
                                     class="btn btn-upload">点击上传图片</div>
                                <!--<ol>
                                    <li ng-repeat="(k,v) in vm.file.selectFiles">
                                        {{v.file.name}} ----- {{v.progress.p}}% <a href="#" ng-click="vm.file.abort(k)">X</a>
                                    </li>
                                </ol>-->
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-4">
                        <div class="form-group form-md-line-input">
                            <label class="col-md-4 control-label">绑定纪念章</label>
                            <div class="col-md-8">
                                <select ng-model="vm.achi.achi"
                                        class="form-control edited" ui-validate="'$value>0'"  required=""
                                        ng-class="{'edited':vm.achi.achi>0}"
                                         ng-options="m.id as m.name for m in vm.achilist.list"></select>
                                <div class="form-control-focus"> </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-4">
                        <div class="form-group form-md-radios">
                            <div class="md-radio-inline">
                                <div class="md-radio">
                                    <input type="radio" id="radio6" name="radio2" class="md-radiobtn" value="0" checked
                                           ng-model="vm.achi.is_group">
                                    <label for="radio6">
                                        <span></span>
                                        <span class="check"></span>
                                        <span class="box"></span> 基础成就
                                    </label>
                                </div>
                                <div class="md-radio">
                                    <input type="radio" id="radio7" name="radio2" class="md-radiobtn" value="1"
                                           ng-model="vm.achi.is_group">
                                    <label for="radio7">
                                        <span></span>
                                        <span class="check"></span>
                                        <span class="box"></span> 组合成就
                                    </label>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div ng-if="vm.achi.is_group==1" class="row">
                    <div class="tabbable-line">
                        <ul class="nav nav-tabs">
                            <li style="float: right" class="active">
                                <a data-toggle="tab" ng-click="vm.choose()" aria-expanded="true">+添加成就</a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <table st-table="vm.table.data" class="table table-striped">
                                <thead>
                                    <tr>
                                        <th st-sort="a">名称</th>
                                        <th>创建时间</th>
                                        <th>一级分类</th>
                                        <th>二级分类</th>
                                        <th>系列</th>
                                        <th>基础成就</th>
                                        <th>状态</th>
                                        <th>操作</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr st-select-row="row" st-select-mode="multiple" ng-repeat="row in vm.table.data">
                                        <td>{{row.a}}</td>
                                        <td>{{row.b}}</td>
                                        <td>{{row.c}}</td>
                                        <td>{{row.balance}}</td>
                                        <td>{{row.email}}</td>
                                        <td>{{row.email}}</td>
                                        <td>{{row.email}}</td>
                                        <td>
                                            <button type="button" ng-click="vm.delete(row)" class="btn btn-sm btn-danger">
                                                删除
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td colspan="7">
                                            <div pagination conf="vm.table.pageConfig"></div>
                                        </td>
                                    </tr>
                                </tfoot>
                            </table>


                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-4"></div>
                    <div class="col-xs-4">
                        <div class="tiles">
                            <div class="tile bg-grey" ng-file-select="vm.file.onFileSelect($files,2)" data-multiple="vm.file.multiple" onclick="this.value = null">
                                <div class="tile-body">
                                    <i class="fa fa-cloud-upload"></i>
                                </div>
                                <div class="tile-object">
                                    <div class="name"> 限制 </div>
                                    <div class="number"> 170x170 </div>
                                </div>
                            </div>
                          
                        </div>
                    </div>
                    <div class="col-xs-4"></div>
                </div>
            </div>

            <div class="modal-footer">
                <button ng-disabled="vm.saving" type="button" class="btn btn-sm default" ng-click="vm.cancel()">返回</button>
                <button type="submit" button-busy="vm.saving" class="btn btn-sm blue" busy-text="保存"
                        ng-click="vm.save()"
                        ng-disabled="modalform.$invalid">
                    <span>保存</span>
                </button>
            </div>
        </form>
    </div>
</div>











